<html>
<head>
<title>{{ title }}</title>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

<link rel="shortcut icon" href="http://unicom.usr.com/images/icon-snmp.gif" /><
</head>
<body>
<div class="container-fluid">

<nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li {% if 'vmUptime' in title %}class="active"{% endif %}><a href="{{ url_for("uptime") }}">vmUptime</a></li>
        <li {% if 'vmProcessCount' in title %}class="active"{% endif %}><a href=" {{ url_for("process_count") }}">vmProcessCount</a></li>
        <li {% if 'vmProcessTable' in title %}class="active"{% endif %}><a href=" {{ url_for("process_table") }} ">vmProcessTable</a></li>
        <li {% if 'vmVideoTable' in title %}class="active"{% endif %}><a href=" {{ url_for("video_table") }} ">vmVideoTable</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<div class="box" align="center">
	<p class='h2'>{{ title }}</p>
	<img src="data:image/png;base64,{{ graph }}" />
</div>
<div style="padding-bottom: 20px;"></div>
<table class="table table-striped table-bordered table-responsive">
<thead style="font-weight: bold;">
<td>Data/Hora</td>
<td>{{ ref_table }} </td>
</thead>
{% for entry in data %}
<tr>
<td> {{ entry[0] }} </td>
<td> {{ entry[1] }} </td>
</tr>
{% endfor %}
</table>
</div>
</body>
</html>
