<html>
<head>
<title>{{ title }}</title>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

</head>
<body>

<div class="container-fluid">

<div class="padding">
<p>&Uacute;ltima atualiza&ccedil;&atilde;o: <span style="font-weight: bold;">{{ date }} (EST)</span></p>
<p>{{ kind }}: <span style="font-weight: bold;">{{ uptime }} </span></p>
<p>Recorde: <span style="font-weight: bold;">{{ maxuptime }} </span></p>
</div>

</div>
</body>
</html>
