<html>
<head>
<title>{{ title }}</title>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

</head>
<body>

<div class="container-fluid">

<nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li {% if 'vmUptime' in title %}class="active"{% endif %}><a href="{{ url_for("uptime") }}">vmUptime</a></li>
        <li {% if 'vmProcessCount' in title %}class="active"{% endif %}><a href=" {{ url_for("process_count") }}">vmProcessCount</a></li>
        <li {% if 'vmProcessTable' in title %}class="active"{% endif %}><a href=" {{ url_for("process_table") }} ">vmProcessTable</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for _, message in messages %}
      <div class="alert alert-success" role="alert">{{ message }}</div>
    {% endfor %}
  {% endif %}
{% endwith %}


<div class="padding">
<p>&Uacute;ltima atualiza&ccedil;&atilde;o: <span style="font-weight: bold;">{{ date }} (EST)</span></p>
<p>{{ kind }}: <span style="font-weight: bold;">{{ value }} </span></p>
<p>Recorde: <span style="font-weight: bold;">{{ maxvalue }} </span></p>
</div>

{% if has_set == True %}
<div class="padding">
<form method="POST">
Novo valor: <input type="text" name="newvalue"></input>
</form>
{% endif %}

</div>
</body>
</html>
